<h1>Listing vimrcs</h1>

<table id="vimrcs-table">
  <tr>
    <th>Vote count</th>
    <th>Url</th>
    <th>Username</th>
    <th>Homepage</th>
    <th>Name</th>
    <th>Description</th>
    <th>Watchers</th>
    <th>Followers</th>
    <th>Forks</th>
    <th>Repos created at</th>
    <th>Repos pushed at</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</table>

<br/>

<a href="#/new">New Vimrc</a>